<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <script type="application/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Some Title</a>
      </div>
    </div>
  </nav>
