{{> header}}
  <div class="container">
    <h1>Welcome</h1>
    <hr/>
    <ul>
      <li><a href="/search">Search</a></li>
      <li><a href="/cls">Clostache Bug</a></li>
    </ul>
  </div>
{{> footer}}
