{{> header}}
  <div class="container">
    <div class="row">
      <nav class="three columns">
         <ul>
           <li><a href="/a3">Cross-site Scripting (XSS)</a></li>
           <li><a href="/a9">Using Components with Known Vulnerabilities</a></li>
         </ul>
      </nav>
      <div id="main" class="nine columns">
        {{> content}}
      </div>
    </div>
  </div>
{{> footer}}
