html, body {
    color: #0b0c0c;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #005ea5;
}
  a:hover {
      color: #2e8aca;
  }

header {
    background: #0b0c0c;
    border-bottom: 10px solid #dee0e2;
    color: #ffffff;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 8px 0;
}
  header a {
      color: #ffffff;
      text-decoration: none;
  }
    header a:hover {
        color: #dee0e2;
    }

h1 {
    margin-bottom: 2px;
}
  h1 a {
      text-decoration: none;
  }

nav ul {
    margin: 0;
}
  nav ul li {
      list-style: none;
  }
  nav ul li a {
      border-bottom: 1px dotted #bfc1c3;
      display: block;
      text-decoration: none;
  }

.big {
    font-size: 1.8em;
}

blockquote {
    margin-left: 0;
    padding-left: 20px;
    border-left: 8px solid #dee0e2;
}

.container {
  max-width: 860px;
}

.center {
    text-align: center;
}

.target {
    border: 3px solid #dee0e2;
    padding: 20px;
}

.search-logo {
    font-size: 6em;
    font-family: "Times New Roman", serif;
}