html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: #005ea5;
    color: #ffffff;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 8px 0;
}
  header a {
      color: #ffffff;
      text-decoration: none;
  }
    header a:hover {
        color: #40c9e8;
    }

h1 {
    margin-bottom: 2px;
}
  h1 a {
      text-decoration: none;
  }

nav ul {
    margin: 0;
}
  nav ul li {
      list-style: none;
  }
  nav ul li a {
      display: block;
  }
